.navbar {
    border-bottom: 3px solid #0080FF;
}

.button {
    background-color: #0080FF;
}

.policy-lists__policy__left__metadata{
    background-color: rgba(0, 128, 255, 0.10);
    border-left: 4px solid #0080FF;
}

